.signin-container {
  width: 30%;
  margin: 200px auto;
  border: 2px solid #000000;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px #d6d6d6;

  .center {
    text-align: center;
  }

  .btn {
    width: 150px;
    background-color: white;
    border: 1px solid #5239ad;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    box-shadow: 5px 2px 2px #d6d6d6;

    &:hover {
      border: none;
      background-color: #5239ad;
      color: #FFFFFF;
    }
  }
}

